/target/
*.zip
**/*.rs.bk
*~
Cargo.lock
resources/imgui.ini
resources/Controls.ini
resources/ptah
resources/ptah.exe
resources/Trephination
resources/Trephination.exe
resources/*.dll
win64
.vscode/
.DS_STORE
*~
*.bin
.cproject
.project
.settings/*
old/*
src/obj/*

.vs/
x64/
~*



Trephination.iml
.idea
*(copy).rs
src/shaders/glsl/compile_shaders*
*.env
*swp
*kdev4
