[package]
name = "rust_project"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
godot = { git = "https://github.com/godot-rust/gdext", branch = "master" }
twitch_eventsub = { git = "https://github.com/lilith645/TwitchEventSub-rs.git" }
